<div class="banner banner--engagement">
	<img src="assets/img/engagement-citoyen.png" alt="">
	<div class="wrapper-absolute">
		<div class="container">
			<h6 class="title title--banner-small">
				المسؤولية الاجتماعية
			</h6>
			<h3 class="title title--banner text-uppercase">
				التزام مواطنينا
			</h3>
			<p class="title title--banner-desc">
				أبجد هوز دولور الجلوس امات, أبجد هوز دولور الجلوس امات, أبجد هوز دولور الجلوس امات أبجد هوز دولور الجلوس امات أبجد هوز دولور الجلوس امات أبجد هوز دولور الجلوس امات أبجد هوز دولور الجلوس امات.
			</p>
			<a class="btn btn--orange btn--primary btn--banner text-uppercase" href="/gbp-front/responsabilite-sociale.html">
				اكتشف
			</a>
		</div>
		
		
	</div>
</div>