<div class="banner">
	<img src="assets/img/engagement-citoyen.png" alt="">
	<div class="wrapper-absolute">
		<div class="container">
			<h6 class="title title--banner-small">
				RESPONSABILITE SOCIALE
			</h6>
			<h3 class="title title--banner text-uppercase mb-2">
				NOTRE ENGAGEMENT CITOYEN
			</h3>
			<p class="title title--banner-desc mb-2">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco  laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
			</p>
			<a class="btn btn--orange btn--primary btn--banner text-uppercase" href="./gbp-front/responsabilite-sociale.html">
				Découvrir
			</a>
		</div>
		
		
	</div>
</div>