<div class="besoin-aide">
    <span>
		بحاجة الى مساعدة ؟
	</span>
    <span>
		<svg class="icon icon-phone"><use xlink:href="#icon-phone"></use></svg>
	</span>
</div>

<div class="questions d-none">
	<p class="questions_top">
		هل لديكم أسئلة  ؟
	</p>
	<div class="questions_body">
		<p>
			اتصل بنا
		</p>

		<p class="num">
			05 37 77 23 45
		</p>

		<p>
			سعر مكالمة محلية غير متميزة.
		</p>
		<p>
			24h/24 - 7/7 متاح 
		</p>

		<a class="btn btn--aide mt-1 mb-1" href="#">
			أرسل لنا رسالة
		</a>

		<a class="btn btn--aide mb-1" href="#">
			العثور على وكالة
		</a>

		<p>
			نحن ننتظر أيضًا طرح أسئلتك
		</p>

		<p>
			<a href="#">
				<svg><use xlink:href="#icon-messenger"></use></svg>	
			</a>
			
			<a href="#">
				<svg><use xlink:href="#icon-aide-twitter"></use></svg>
			</a>
		</p>
	</div>
</div>