<div class="card card--rapport">
	<img src="assets/img/card-rapport1.png" alt="">
	<div class="container">
		<div class="wrapper">
			<p class="title title--small">
				rse
			</p>
			<h2 class="title title--bloc text-uppercase mb-4">
				capital humain
			</h2>

			<div class="card_desc mb-2">
				Nullam sed ipsum quis lorem lacinia consectetur sed faucibus quam. Suspendisse ac dapibus lorem. Sed venenatis orci risus, sed consequat dolor pharetra et. Nam tristique molestie magna vel convallis. Donec lobortis molestie libero sit amet molestie. Vivamus id turpis nec orci vestibulum dignissim vitae vel sem. 
			</div>

			<a class="card_link" href="#">
				EN SAVOIR PLUS
			</a>
		</div>
	</div>
	
</div>