<div class="card card--actualites">
	<div class="card_tags">
		<a class="btn btn--tag btn--orange" href="#">
			#DEVELOPPEMENT DURABLE
		</a>
		<a class="btn btn--tag btn--orange" href="#">
			#RSE
		</a>
	</div>
	<p class="card_date">
		21/07/2017
	</p>
	<h3 class="card_title">
		Transformation digitale de la 
		Banque Populaire : une vision 
		stratégique au..
	</h3>
	<p class="card_desc">
		Consciente des enjeux stratégiques que présente le numérique, la Banque Populaire a entamé depuis deux ans, un large chant...
	</p>
	<div class="clearfix">
		<a class="card_link" href="#">
			en savoir plus
		</a>
		<a class="card_share float-right" href="#">
			<svg><use xlink:href="#icon-share-symbol"></use></svg>
		</a>
	</div>
	
</div>