<div class="card card--histoire-lg">
    <h6 class="card_small">
            HISTOIRES POPULAIRES
        </h6>
    <h3 class="card_title clearfix">
            <span>
                #4
            </span>
            <span>
                Mustapha voyage autour du
                monde ..
            </span>
        </h3>
    <p class="card_txt mb-3">
        Nous avons une histoire à vous raconter, celle qui fait de vous les citoyens d’une banque faire pour vous accompagner dans toutes les étapes de votre vie. Rentrez dans l’histoire, mettez en scène vos expériences vécues avec la Banque Populaire.
    </p>
    <div class="clearfix">
        <p class="card_date -left">
            14 JANVIER 2016
        </p>
        <a class="card_share float-right" href="#">
            <svg>
                <use xlink:href="#icon-share-symbol"></use>
            </svg>
        </a>
    </div>
</div>