<div class="card card--actualites card--actualites-img clearfix">
    <div class="img-wrapper">
        <img src="assets/img/actu-1.png" alt="">
    </div>
    <div class="wrapper">
        <div class="card_tags">
            <a class="btn btn--tag btn--orange" href="#">
				#RSE
			</a>
        </div>
        <p class="card_date">
            21/07/2017
        </p>
        <h3 class="card_title">
			Nzaha@Bladi Montréal 2017 : 
			une édition spéciale 
			« millionième client MDM »
		</h3>
        <p class="card_desc">
            C’est dans une ambiance festive et familiale que s’est déroulé le festival Nzaha@Bladi
        </p>
        <div class="clearfix position-relative">
            <a class="card_link" href="#">
				en savoir plus
			</a>
            <a class="card_share float-right" href="#">
                <svg>
                    <use xlink:href="#icon-share-symbol"></use>
                </svg>
            </a>
            <ul class="share">
                <li>
                    <a href="https://www.facebook.com/share.php?u=" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                        <svg class="fb">
                            <use xlink:href="#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/intent/tweet?text=text-partage&amp;url=" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                        <svg class="twitter">
                            <use xlink:href="#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/share?url=https://plus.google.com">
                        <svg>
                            <use xlink:href="#icon-google-plus"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://api.whatsapp.com/send?text=text-whatsapp&amp;url=">
                        <svg>
                            <use xlink:href="#icon-whatsapp"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>