<div class="card card--actualites card--actualites-img">
	<img src="assets/img/actu-1.png" alt="">
	<div class="wrapper">
		<div class="card_tags">
			<a class="btn btn--tag btn--orange" href="#">
				#RSE
			</a>
		</div>
		<p class="card_date">
			21/07/2017
		</p>
		<h3 class="card_title">
			Nzaha@Bladi Montréal 2017 : 
			une édition spéciale 
			« millionième client MDM »
		</h3>
		<p class="card_desc">
			C’est dans une ambiance festive et familiale que s’est déroulé le festival Nzaha@Bladi au vieux port de Montréal, le 27 août...
		</p>
		<div class="clearfix">
			<a class="card_link" href="#">
				en savoir plus
			</a>
			<a class="card_share float-right" href="#">
				<svg><use xlink:href="#icon-share-symbol"></use></svg>
			</a>
		</div>
	</div>	
</div>