<div class="card card--actualites card--actualites-img clearfix">
    <a class="img-wrapper" href="/gbp-front/news-detail.html">
        <img src="assets/img/actu-1.png" alt="">
    </a>
    <div class="wrapper">
        <div class="card_tags">
            <a class="btn btn--tag btn--orange" href="/gbp-front/actualites.html">
                #RSE
            </a>
        </div>
        <p class="card_date">
            21/07/2017
        </p>
        <a class="card_title" href="/gbp-front/news-detail.html">
            Nzaha@Bladi Montréal 2017 : 
            une édition spéciale 
            « millionième client MDM »
        </a>
        <p class="card_desc">
            C’est dans une ambiance festive et familiale que s’est déroulé le festival Nzaha@Bladi
        </p>
        <div class="card_bottom clearfix">
            <a class="card_link" href="/gbp-front/news-detail.html">
                en savoir plus
            </a>
            <a class="card_share" href="#">
                <svg>
                <use xlink:href="#icon-share-symbol"></use>
                </svg>
            </a>
            <ul class="share">
                <li>
                    <a href="https://www.facebook.com/share.php?u=" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                        <svg class="fb">
                        <use xlink:href="#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/intent/tweet?text=text-partage&amp;url=" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                        <svg class="twitter">
                        <use xlink:href="#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/share?url=https://plus.google.com">
                        <svg>
                        <use xlink:href="#icon-google-plus"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://api.whatsapp.com/send?text=text-whatsapp&amp;url=">
                        <svg>
                        <use xlink:href="#icon-whatsapp"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>