<div class="card card--explorer card--explorer-left">
	<img src="assets/img/explorer-metiers2.png" alt="">

	<div class="wrapper">
		<a class="title title--small" href="/gbp-front/actualites.html">
			metiers
		</a>
		<h2 class="title title--bloc title--bloc-bold mb-4">
			LOREM IPSUM
		</h2>

		<div class="card_desc mb-2">
			Nullam sed ipsum quis lorem lacinia consectetur sed faucibus quam. Suspendisse ac dapibus lorem. Sed venenatis orci risus, sed consequat dolor pharetra et. Nam tristique molestie magna vel convallis. Donec lobortis molestie libero sit amet molestie. Vivamus id turpis nec orci vestibulum dignissim vitae vel sem. 
		</div>

		<a class="card_link" href="/gbp-front/news-detail.html">
			EN SAVOIR PLUS
		</a>
	</div>
</div>