<div class="card card--actualites">
    <div class="card_tags">
        <a class="btn btn--tag btn--orange" href="/gbp-front/actualites.html">
			#التنمية المستدامة
		</a>
        <a class="btn btn--tag btn--orange" href="/gbp-front/actualites.html">
			#مجش
		</a>
    </div>
    <p class="card_date">
        21/07/2017
    </p>
    <a class="card_title" href="/gbp-front/news-detail.html">
		التحول الرقمي لل
لبنك الشعبي: رؤية
استراتيجية ل ..
	</a>
    <p class="card_desc">
        إدراكاً للمخاطر الاستراتيجية التي تقدمها الرقمية ، بدأ البنك الشعبي قبل عامين ، أغنية واسعة …
    </p>
    <div class="card_bottom clearfix">
        <a class="card_link" href="/gbp-front/news-detail.html">
			اقرأ المزيد
		</a>
        <a class="card_share" href="/dist/news-detail.html">
            <svg>
                <use xlink:href="#icon-share-symbol"></use>
            </svg>
        </a>
        <ul class="share">
                <li>
                    <a href="https://www.facebook.com/share.php?u=" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                        <svg class="fb">
                            <use xlink:href="#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/intent/tweet?text=text-partage&amp;url=" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                        <svg class="twitter">
                            <use xlink:href="#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/share?url=https://plus.google.com">
                        <svg>
                            <use xlink:href="#icon-google-plus"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://api.whatsapp.com/send?text=text-whatsapp&amp;url=">
                        <svg>
                            <use xlink:href="#icon-whatsapp"></use>
                        </svg>
                    </a>
                </li>
            </ul>
    </div>
</div>