<div class="card card--actualites card--actualites-annonce">
	<img src="assets/img/twitter.png" alt="">
	<p class="card_desc">
		بمناسبة اليوم العالمي للمرأة ، يقدم  <a href="https://twitter.com/hashtag/Banque_Populaire" target="_blank">#Banque_Populaire</a> جميع النساء أصدقاؤهم الصادقين من النجاح والازدهار. <a href="https://twitter.com/hashtag/8mars"  target="_blank">#8mars</a> <a href="https://twitter.com/hashtag/corpo"  target="_blank">#corpo</a>
	</p>
	<a class="card_link" href="http://www.twitter.com/BP_Maroc" target="_blank">
		Twitter.com/BP_Maroc
	</a>
</div>