<div class="date-filter clearfix d-flex align-items-center">
	<p class="date-filter_txt float-left">
		Du
	</p>
	<div class="start clearfix">
		<div class="date-filter_arrows">
			<a href="#">
				<svg>
					<use xlink:href="#arrow-right"></use>	
				</svg>
			</a>
			<a href="#">
				<svg>
					<use xlink:href="#arrow-right"></use>	
				</svg>
			</a>
		</div>
		<p class="date-filter_month">
			<input type="text" value="06">
		</p>
		<p class="date-filter_year">
			<input type="text" value="17">
		</p>
	</div>

	<p class="date-filter_txt float-left">
		Au
	</p>

	<div class="end clearfix">
		<div class="date-filter_arrows">
			<a href="#">
				<svg>
					<use xlink:href="#arrow-right"></use>	
				</svg>
			</a>
			<a href="#">
				<svg>
					<use xlink:href="#arrow-right"></use>	
				</svg>
			</a>
		</div>
		<p class="date-filter_month">
			<input type="text" value="06">
		</p>
		<p class="date-filter_year">
			<input type="text" value="17">
		</p>
	</div>
</div>