<div class="date-filter clearfix d-flex align-items-center" id="date-filter">
	<p class="date-filter_txt float-left">
		Du
	</p>
	<div class="start clearfix">
		<div class="date-filter_arrows">
			<a href="#" class="increment-date">
				<svg>
					<use xlink:href="#arrow-right"></use>
				</svg>
			</a>
			<a href="#" class="decrement-date">
				<svg>
					<use xlink:href="#arrow-right"></use>
				</svg>
			</a>
		</div>
		<p class="date-filter_month">
			<input type="text" placeholder="--">
		</p>
		<p class="date-filter_year">
			<input type="text" placeholder="----">
		</p>
	</div>

	<p class="date-filter_txt float-left">
		Au
	</p>

	<div class="end clearfix">
		<div class="date-filter_arrows">
			<a href="#" class="increment-date">
				<svg>
					<use xlink:href="#arrow-right"></use>
				</svg>
			</a>
			<a href="#" class="decrement-date">
				<svg>
					<use xlink:href="#arrow-right"></use>
				</svg>
			</a>
		</div>
		<p class="date-filter_month">
			<input type="text" placeholder="--">
		</p>
		<p class="date-filter_year">
			<input type="text" placeholder="----">
		</p>
	</div>
</div>