    <!-- Fil d'ariane -->

    <div class="fil-ariane">
        <div class="container">
            <ul class="fil-ariane__items clearfix hidden-md-down">
                <li class="fil-ariane__item fil-ariane-lg">
                    أنت هنا :
                </li>
                <li class="fil-ariane__item fil-ariane-lg">
                    <a href="#">
                        الصفحة الرئيسية
                    </a>
                </li>
                <li class="fil-ariane__item fil-ariane-lg">
                    <a href="#">
                        الشركات
                    </a>
                </li>
                <li class="fil-ariane__item fil-ariane-lg">
                    <a href="#">
                        المسؤولية الاجتماعية
                    </a>
                </li>
                <li class="fil-ariane__item fil-ariane-lg">
                    تقرير المسؤولية الاجتماعية للشركات
                </li>
            </ul>

            <!-- Fil d'ariane Mobile-->

            <ul class="fil-ariane__items clearfix hidden-lg-up">
                <li class="fil-ariane__item fil-ariane-md">
                    <a href="#">
                        <img class="fil-ariane__img" src="assets/img/arrow-right.svg">
                        رجوع
                    </a>
                </li>
            </ul>
        </div>
    </div>