<div class="fil-ariane">
    <div class="container">
        <ul class="fil-ariane__items clearfix hidden-md-down">
            <li class="fil-ariane__item fil-ariane-lg">
                Vous êtes ici :
            </li>
            <li class="fil-ariane__item fil-ariane-lg">
                <a href="/gbp-front/homepage.html">
                    Accueil
                </a>
            </li>
            <li class="fil-ariane__item fil-ariane-lg">
                <a href="/gbp-front/homepage.html">
                    Corporate
                </a>
            </li>
            <li class="fil-ariane__item fil-ariane-lg">
                Appel d'offres
            </li>
        </ul>

        <!-- Fil d'ariane Mobile-->

        <ul class="fil-ariane__items clearfix hidden-lg-up">
            <li class="fil-ariane__item fil-ariane-md">
                <a href="#">
                    <img class="fil-ariane__img" src="assets/img/arrow-right.svg">
                    Retour
                </a>
            </li>
        </ul>
    </div>
</div>