<div class="finance clearfix">
	<div>
		<img src="assets/img/finance.png" alt="">
	</div>
	<div class="finance_title">
		<h3 class="first">
			Résultats
		</h3>
		<h3 class="last">
			Financiers
		</h3>

		<p class="finance_date">
			31/12/2017
		</p>

		<p class="download">
			<label class="checkbox">
				Comptes consolidés du Groupe 
				<input type="checkbox">
				<span class="checkmark">
				</span>
			</label>
			<label class="checkbox">
				Banque Centrale Populaire
				<input type="checkbox">
				<span class="checkmark">
				</span>
			</label>
			<label class="checkbox">
				Comptes sociaux de la Banque 
				<input type="checkbox">
				<span class="checkmark">
				</span>
			</label>
			<label class="checkbox">
				Centrale Populaire
				<input type="checkbox" checked>
				<span class="checkmark">
				</span>
			</label>
			<label class="checkbox">
				Communiqué de presse- VA
				<input type="checkbox" checked>
				<span class="checkmark">
				</span>
			</label>
			<label class="checkbox">
				Communiqué de presse- VF
				<input type="checkbox" checked>
				<span class="checkmark">
				</span>
			</label>
			<label class="checkbox">
				Cahier Financier version anglaise
				<input type="checkbox" checked>
				<span class="checkmark">
				</span>
			</label>

			<button type="button" class="btn btn--download">
				telecharger
			</button>
		</p>
		
	</div>
</div>