<div class="finance clearfix">
	<div>
		<img src="assets/img/finance.png" alt="">
	</div>
	<div class="finance_title">
		<h3 class="first">
			النتائج
		</h3>
		<h3 class="last">
			الممولين
		</h3>

		<p class="finance_date">
			31/12/2017
		</p>

		<p class="download">
			<label class="checkbox">
				البيانات المالية المجمعة للمجموعة 
				<input type="checkbox">
				<span class="checkmark">
				</span>
			</label>
			<label class="checkbox">
				بنك الشعب المركزي
				<input type="checkbox">
				<span class="checkmark">
				</span>
			</label>
			<label class="checkbox">
				الحسابات المصرفية 
				<input type="checkbox">
				<span class="checkmark">
				</span>
			</label>
			<label class="checkbox">
				الشعب المركزي
				<input type="checkbox" checked>
				<span class="checkmark">
				</span>
			</label>
			<label class="checkbox">
				بيان صحفي - VA
				<input type="checkbox" checked>
				<span class="checkmark">
				</span>
			</label>
			<label class="checkbox">
				بيان صحفي - VF
				<input type="checkbox" checked>
				<span class="checkmark">
				</span>
			</label>
			<label class="checkbox">
				مفكرة مالية النسخة الإنجليزية
				<input type="checkbox" checked>
				<span class="checkmark">
				</span>
			</label>

			<button type="button" class="btn btn--download">
				تحميل
			</button>
		</p>
		
	</div>
</div>