<div class="finance finance--lg clearfix">
	<div>
		<img src="assets/img/finance.png" alt="">
	</div>
	<div class="finance_title">
		<h3 class="first">
			تقرير
		</h3>
		<h3 class="last">
			السنوي لعام 2017
		</h3>

		<p class="finance_date">
			31/12/2017
		</p>

		<p class="download">
			<label class="checkbox">
				النسخة الإنجليزية 
				<input type="checkbox">
				<span class="checkmark">
				</span>
			</label>
			<label class="checkbox">
				النسخة الاسبانية
				<input type="checkbox">
				<span class="checkmark">
				</span>
			</label>
			<label class="checkbox">
				النسخة العربية
				<input type="checkbox">
				<span class="checkmark">
				</span>
			</label>
			<label class="checkbox">
				النسخة الفرنسية
				<input type="checkbox" checked>
				<span class="checkmark">
				</span>
			</label>

			<button type="button" class="btn btn--download">
				تحميل
			</button>
			
		</p>
		
	</div>
</div>