<div class="footer-bottom">
	<div class="footer-bottom_icons">
		<ul class="items clearfix">
			<li class="item fb">
				<a href="#">
					<span>
						<svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
					</span>
				</a>
			</li>
			<li class="item twitter">
				<a href="#">
					<span>
						<svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
					</span>
				</a>
			</li>
			<li class="item youtube">
				<a href="#">
					<span>
						<svg class="icon-youtube"><use xlink:href="#icon-youtube"></use></svg>
					</span>
				</a>
			</li>
			<li class="item linkedin">
				<a href="#">
					<span>
						<svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
					</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="footer-bottom_menu">
		<nav>
			<ul class="items clearfix">
				<li class="item">
					<a href="#">
						Politique conformité
					</a>
				</li>
				<li class="item">
					<a href="#">
						Mentions légales
					</a>
				</li>
				<li class="item">
					<a href="#">
						SOS Urgence
					</a>
				</li>
				<li class="item">
					<a href="#">
						Conditions générales d'utilisation
					</a>
				</li>
				<li class="item">
					<a href="#">
						Confidentialité et sécurité
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="footer-bottom_copyright">
		<p>
			COPYRIGHT 2018 - GROUPE BANQUE POPULAIRE - TOUS DROITS RESERVES
		</p>
	</div>
</div>