<div class="footer clearfix">
	<div class="footer_col">
		<h6 class="footer_title">البنك الشعبي</h6>

		<ul>
			<li class="footer_item">
				<a href="#">
					أخبار
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					اكتشف المجموعة
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					المالية
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					المسؤولية الاجتماعية
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					البنك والتجارة
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					المركز الاعلامي
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					مهنة
				</a>
			</li>
		</ul>
	</div>
	<div class="footer_col">
		<h6 class="footer_title">من اجلك</h6>

		<ul>
			<li class="footer_item footer_item--title">
				<a href="#">
					الأفراد
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					الطلاب
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					الشباب النشط
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					مسؤولون
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					المهن الليبرالية
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					كبار السن
				</a>
			</li>
		</ul>
	</div>
	<div class="footer_col footer_col--wt-title">
		<ul>
			<li class="footer_item footer_item--title">
				<a href="#">
					المهنيين
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					الحرف
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					المهن الليبرالية
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					المبدعين الشباب الأعمال
				</a>
			</li>
		</ul>
	</div>
	<div class="footer_col footer_col--wt-title">
		<ul>
			<li class="footer_item footer_item--title">
				<a href="#">
					الشركات
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					TPE
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					الشركات الصغيرة والمتوسطة
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					شركات كبرى
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					المؤسسية
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					جمعيات
				</a>
			</li>
		</ul>
	</div>
	<div class="footer_col footer_col--wt-title">
		<ul>
			<li class="footer_item footer_item--title">
				<a href="#">
					مغاربة العالم
				</a>
			</li>
			<li class="footer_item footer_item--title">
				<a href="#">
					المستثمرين
				</a>
			</li>
			<li class="footer_item footer_item--title">
				<a href="#">
					المساهمين
				</a>
			</li>
			<li class="footer_item footer_item--title">
				<a href="#">
					الصحفيين
				</a>
			</li>
			<li class="footer_item footer_item--title">
				<a href="#">
					المرشحين
				</a>
			</li>
		</ul>
	</div>
	<div class="footer_col">
		<h6 class="footer_title">يوميا</h6>

		<ul>
			<li class="footer_item">
				<a href="#">
					كن عميلاً
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					اختر بطاقة
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					الاقتراض
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					وفر
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					ضمان
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					إدارة حساباتي عن بعد
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					المساعدة والمشورة
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					ابحث عن وكالة
				</a>
			</li>
		</ul>
	</div>
	<div class="footer_col">
		<h6 class="footer_title">الوصول السريع</h6>

		<ul>
			<li class="footer_item">
				<a href="#">
					قم بتنزيل قاموس العمليات المصرفية
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					قم بتنزيل قاموس العمليات المصرفية
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					قم بتنزيل قاموس العمليات المصرفية
				</a>
			</li>
		</ul>
	</div>
</div>