<div class="footer-bottom">
	<div class="footer-bottom_icons">
		<ul class="items clearfix">
			<li class="item fb">
				<a href="#">
					<span>
						<svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
					</span>
				</a>
			</li>
			<li class="item twitter">
				<a href="#">
					<span>
						<svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
					</span>
				</a>
			</li>
			<li class="item youtube">
				<a href="#">
					<span>
						<svg class="icon-youtube"><use xlink:href="#icon-youtube"></use></svg>
					</span>
				</a>
			</li>
			<li class="item linkedin">
				<a href="#">
					<span>
						<svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
					</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="footer-bottom_menu">
		<nav>
			<ul class="items clearfix">
				<li class="item">
					<a href="#">
						سياسة الامتثال
					</a>
				</li>
				<li class="item">
					<a href="#">
						المعلومات القانونية
					</a>
				</li>
				<li class="item">
					<a href="#">
						طوارئ SOS
					</a>
				</li>
				<li class="item">
					<a href="#">
						شروط الخدمة
					</a>
				</li>
				<li class="item">
					<a href="#">
						السرية والأمان
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="footer-bottom_copyright">
		<p>
		حقوق الطبع والنشر 2018 - مجموعة البنك الشعبي - جميع الحقوق محفوظة
		</p>
	</div>
</div>