<div class="footer clearfix">
	<div class="footer_col">
		<h6 class="footer_title">LA BANQUE POPULAIRE</h6>

		<ul>
			<li class="footer_item">
				<a href="#">
					Actualités
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Découvrir le groupe
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Finances
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Responsabilité sociale
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Banque et métiers
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Média center
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Carrière
				</a>
			</li>
		</ul>
	</div>
	<div class="footer_col">
		<h6 class="footer_title">POUR VOUS</h6>

		<ul>
			<li class="footer_item footer_item--title">
				<a href="#">
					Particuliers
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Etudiants
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Jeunes actifs
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Fonctionnaires
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Professions libérales
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Séniors
				</a>
			</li>
		</ul>
	</div>
	<div class="footer_col footer_col--wt-title">
		<ul>
			<li class="footer_item footer_item--title">
				<a href="#">
					Professionnels
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Artisans
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Professions libérales
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Jeune créateurs d’entreprises
				</a>
			</li>
		</ul>
	</div>
	<div class="footer_col footer_col--wt-title">
		<ul>
			<li class="footer_item footer_item--title">
				<a href="#">
					Entreprises
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					TPE
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					PME
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Grandes entreprises
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Institutionnels
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Associations
				</a>
			</li>
		</ul>
	</div>
	<div class="footer_col footer_col--wt-title">
		<ul>
			<li class="footer_item footer_item--title">
				<a href="#">
					Marocains du monde
				</a>
			</li>
			<li class="footer_item footer_item--title">
				<a href="#">
					Investisseurs
				</a>
			</li>
			<li class="footer_item footer_item--title">
				<a href="#">
					Actionnaires
				</a>
			</li>
			<li class="footer_item footer_item--title">
				<a href="#">
					Journalistes
				</a>
			</li>
			<li class="footer_item footer_item--title">
				<a href="#">
					Candidats
				</a>
			</li>
		</ul>
	</div>
	<div class="footer_col">
		<h6 class="footer_title">Au quotidien</h6>

		<ul>
			<li class="footer_item">
				<a href="#">
					Devenir client
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Choisir une carte
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Emprunter
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Epargner
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Assurer
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Gérer mes comptes à distance
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Aide & conseil
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Trouver une agence
				</a>
			</li>
		</ul>
	</div>
	<div class="footer_col">
		<h6 class="footer_title">Accès rapide</h6>

		<ul>
			<li class="footer_item">
				<a href="#">
					Téléchargez le lexique des
					opérations Bancaires
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Téléchargez le lexique des
					opérations Bancaires
				</a>
			</li>
			<li class="footer_item">
				<a href="#">
					Téléchargez le lexique des
					opérations Bancaires
				</a>
			</li>
		</ul>
	</div>
</div>