<div class="header clearfix">
	<div class="header_logo">
		<a href="/gbp-front/homepage.html">
			<img src="assets/img/logo-gbp.svg" alt="">
		</a>
	</div>
	<nav class="header_menu">
		<ul>
			<li class="header_item">
				<a href="#">
					Nous connaître
				</a>
			</li>
			<li class="header_item">
				<a href="/gbp-front/actualites.html">
					Actualités
				</a>
			</li>
			<li class="header_item">
				<a href="/gbp-front/finance.html">

					Finance
				</a>
			</li>
			<li class="header_item">
				<a href="/gbp-front/responsabilite-sociale.html">
					Responsabilité sociale
				</a>
			</li>
			<li class="header_item">
				<a href="/gbp-front/mediacenter.html">

					Media center
				</a>
			</li>
			<li class="header_item">
				<a href="/gbp-front/banques-metiers.html">
					Banques & Métiers
				</a>
			</li>
			<li class="header_item">
				<a href="#">
					Carrière
				</a>
			</li>
			<li class="header_search">
				<a href="#">
					<svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
				</a>
			</li>
		</ul>
	</nav>
</div>