<div class="header clearfix">
	<div class="header_mobile-menu">
		<span>
			<svg>
				<use xlink:href="#icon-menu"></use>
			</svg>
		</span>
	</div>
	<div class="header_logo">
		<a href="/gbp-front/homepage.html">
			<img src="assets/img/logo-gbp.svg" alt="">
		</a>
	</div>
	<div class="header_mobile-search">
		<span>
			<svg>
				<use xlink:href="#icon-popup-search"></use>
			</svg>
		</span>
	</div>
	<nav class="header_menu">
		<ul>
			<li class="header_item">
				<a href="/gbp-front/timeline.html">
					Nous connaître
				</a>
			</li>
			<li class="header_item">
				<a href="/gbp-front/actualites.html">
					Actualités
				</a>
			</li>
			<li class="header_item">
				<a href="/gbp-front/finance.html">

					Finance
				</a>
			</li>
			<li class="header_item">
				<a href="/gbp-front/responsabilite-sociale.html">
					Responsabilité sociale
				</a>
			</li>
			<li class="header_item">
				<a href="/gbp-front/mediacenter.html">

					Media center
				</a>
			</li>
			<li class="header_item">
				<a href="/gbp-front/banques-metiers.html">
					Banques & Métiers
				</a>
			</li>
			<li class="header_item">
				<a class=" dropdown-toggle navbar__link text-uppercase px-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
				 aria-expanded="false">
					Carrière
				</a>
				<div class="dropdown-menu navbar__dropdown-menu hidden-md-down" aria-labelledby="navbarDropdown">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-6 col-xl-5 pt-5 pb-2">
								<div class="row">
									<div class="col-lg-6">
										<h3 class="navbar__dropdown-title text-uppercase">JE M'INSTALLE EN FAMILLE</h3>
										<ul class="navbar__dropdown-list">
											<li class="navbar__dropdown-list-item">
												<a href="#" class="navbar__dropdown-list-link">Gérer sereinement nos finances</a>
											</li>
											<li class="navbar__dropdown-list-item">
												<a href="#" class="navbar__dropdown-list-link">Gérer nos finances à distance</a>
											</li>
											<li class="navbar__dropdown-list-item">
												<a href="#" class="navbar__dropdown-list-link">Faire fructifier notre épargne</a>
											</li>
											<li class="navbar__dropdown-list-item">
												<a href="#" class="navbar__dropdown-list-link">Assurer notre sérénité</a>
											</li>
											<li class="navbar__dropdown-list-item">
												<a href="#" class="navbar__dropdown-list-link">Financer et protéger notre logement</a>
											</li>
											<li class="navbar__dropdown-list-item">
												<a href="#" class="navbar__dropdown-list-link">Donner vie à nos envies</a>
											</li>
										</ul>
									</div>
									<div class="col-lg-6">
										<h3 class="navbar__dropdown-title text-uppercase">J'ENTRE DANS LA VIE ACTIVE</h3>
										<ul class="navbar__dropdown-list">
											<li class="navbar__dropdown-list-item">
												<a href="#" class="navbar__dropdown-list-link">Me faciliter la banque au quotidien</a>
											</li>
											<li class="navbar__dropdown-list-item">
												<a href="#" class="navbar__dropdown-list-link">Gérer ma banque à distance</a>
											</li>
											<li class="navbar__dropdown-list-item">
												<a href="#" class="navbar__dropdown-list-link">Faire fructifier mon épargne</a>
											</li>
											<li class="navbar__dropdown-list-item">
												<a href="#" class="navbar__dropdown-list-link">Cultiver ma sérénité</a>
											</li>
											<li class="navbar__dropdown-list-item">
												<a href="#" class="navbar__dropdown-list-link">Financer et protéger mon logement</a>
											</li>
											<li class="navbar__dropdown-list-item">
												<a href="#" class="navbar__dropdown-list-link">Donner vie à mes envies</a>
											</li>
										</ul>
									</div>
									<div class="col-lg-6">
										<h3 class="navbar__dropdown-title text-uppercase">JE PREPARE MON AVENIR</h3>
										<ul class="navbar__dropdown-list">
											<li class="navbar__dropdown-list-item">
												<a href="#" class="navbar__dropdown-list-link">Accéder à mon autonomie financière</a>
											</li>
											<li class="navbar__dropdown-list-item">
												<a href="#" class="navbar__dropdown-list-link">Financer mes études</a>
											</li>
											<li class="navbar__dropdown-list-item">
												<a href="#" class="navbar__dropdown-list-link">Cultiver ma sérénité</a>
											</li>
										</ul>
									</div>
									<div class="col-lg-6">
										<h3 class="navbar__dropdown-title text-uppercase">JE PROFITE DE MA RETRAITE</h3>
										<ul class="navbar__dropdown-list">
											<li class="navbar__dropdown-list-item">
												<a href="#" class="navbar__dropdown-list-link">Ouvrir un compte</a>
											</li>
											<li class="navbar__dropdown-list-item">
												<a href="#" class="navbar__dropdown-list-link">Investir au Maroc</a>
											</li>
											<li class="navbar__dropdown-list-item">
												<a href="#" class="navbar__dropdown-list-link">Financer mon logement au Maroc</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-xl-7 bg-gray pt-5 pb-2 pl-lg-2 pl-xl-6">
								<ul class="navbar__dropdown-list navbar__dropdown-list--fixed-width">
									<li class="navbar__dropdown-list-img-item d-inline-block">
										<a href="#" class="navbar__dropdown-list-link navbar__dropdown-list-link--diff-color text-bold text-center">
											<img class="navbar__dropdown-list-img" src="assets/img/Rectangle12.png">
											<div class="text-uppercase">Acheter un logement</div>
										</a>
									</li>
									<li class="navbar__dropdown-list-img-item d-inline-block">
										<a href="#" class="navbar__dropdown-list-link navbar__dropdown-list-link--diff-color text-bold text-center">
											<img class="navbar__dropdown-list-img" src="assets/img/voiture.svg">
											<div class="text-uppercase">FINANCER UN PROJET</div>
										</a>
									</li>
									<li class="navbar__dropdown-list-img-item d-inline-block">
										<a href="#" class="navbar__dropdown-list-link navbar__dropdown-list-link--diff-color text-bold text-center">
											<img class="navbar__dropdown-list-img" src="assets/img/bien.svg">
											<div class="text-uppercase">ASSURER UN BIEN</div>
										</a>
									</li>
									<li class="navbar__dropdown-list-img-item d-inline-block">
										<a href="#" class="navbar__dropdown-list-link navbar__dropdown-list-link--diff-color text-bold text-center">
											<img class="navbar__dropdown-list-img" src="assets/img/epargne.svg">
											<div class="text-uppercase">CONSTITUER UNE ÉPARGNE</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="header_search">
				<a href="#" class="header_search-pop">
					<svg class="icon-search">
						<use xlink:href="#icon-search"></use>
					</svg>
				</a>
			</li>
		</ul>
	</nav>
</div>