<div class="header clearfix">
	<div class="header_logo">
		<a href="#">
			<img src="assets/img/logo-gbp.svg" alt="">
		</a>
	</div>
	<nav class="header_menu">
		<ul>
			<li class="header_item">
				<a href="#">
					Nous connaître
				</a>
			</li>
			<li class="header_item">
				<a href="#">
					Actualités
				</a>
			</li>
			<li class="header_item">
				<a href="#">
					Finance
				</a>
			</li>
			<li class="header_item">
				<a href="#">
					Responsabilité sociale
				</a>
			</li>
			<li class="header_item">
				<a href="#">
					Media center
				</a>
			</li>
			<li class="header_item">
				<a href="#">
					Banques & Métiers
				</a>
			</li>
			<li class="header_item">
				<a href="#">
					Carrière
				</a>
			</li>
			<li class="header_search">
				<a href="#">
					<svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
				</a>
			</li>
		</ul>
	</nav>
</div>