<div class="home-slider owl-carousel">
	<div class="home-slider_item" data-dot="Nous sommes Corporate">
		<img src="assets/img/home-slider.png" alt="">
		<div class="wrapper">
			<div class="container">
				<h1 class="home-slider_title mb-2">
					Nous sommes Corporate
				</h1>

				<p class="home-slider_txt mb-3">
					Le crédit Populaire du Maroc est un groupement de banques
					constitué par la Banque Centrale Populaire
					au service des citoyens.
				</p>

				<a href="/gbp-front/news-detail.html" class="btn btn--primary btn--orange btn--savoir text-uppercase">
					<span>
						en savoir plus
					</span>
					<span>
						>
					</span>
				</a>
			</div>
		</div>
	</div>
	<div class="home-slider_item" data-dot="Nouvelle identité Banque populaire">
		<img src="assets/img/home-slider.png" alt="">
		<div class="wrapper">
			<div class="container">
				<h1 class="home-slider_title mb-2">
					Nouvelle identité Banque populaire
				</h1>

				<p class="home-slider_txt mb-3">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam illum aspernatur veritatis, in omnis eligendi consequatur.
				</p>

				<a href="/gbp-front/news-detail.html" class="btn btn--primary btn--orange btn--savoir text-uppercase">
					<span>
						en savoir plus
					</span>
					<span>
						>
					</span>
				</a>
			</div>
		</div>
	</div>
	<div class="home-slider_item" data-dot="Offre chabab">
		<img src="assets/img/home-slider.png" alt="">
		<div class="wrapper">
			<div class="container">
				<h1 class="home-slider_title mb-2">
					Offre chabab
				</h1>

				<p class="home-slider_txt mb-3">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut perferendis iste eius perspiciatis unde maxime fugiat itaque.
				</p>

				<a href="/gbp-front/news-detail.html" class="btn btn--primary btn--orange btn--savoir text-uppercase">
					<span>
						en savoir plus
					</span>
					<span>
						>
					</span>
				</a>
			</div>
		</div>
	</div>
	
</div>