<div class="home-slider owl-carousel">
	<div class="home-slider_item" data-dot="نحن شركات">
		<img src="assets/img/home-slider.png" alt="">
		<div class="wrapper">
			<div class="container">
				<h1 class="home-slider_title mb-2">
					نحن الشركات
				</h1>

				<p class="home-slider_txt">
					بنك الكويت الوطني هو مجموعة من البنوك التي أنشأها البنك المركزي في خدمة المواطنين.
				</p>

				<a href="/gbp-front/news-detail.html" class="btn btn--primary btn--orange btn--savoir text-uppercase">
					اقرأ المزيد
				</a>
			</div>
		</div>
	</div>
	<div class="home-slider_item" data-dot="هوية بنك الشعب الجديد">
		<img src="assets/img/home-slider.png" alt="">
		<div class="wrapper">
			<div class="container">
				<h1 class="home-slider_title mb-2">
					هوية بنك الشعب الجديد
				</h1>

				<p class="home-slider_txt">
					نك الكويت الوطني هو مجموعة من البنوك التي أنشأها البنك المركزي في خدمة المواطنين.
				</p>

				<a href="/gbp-front/news-detail.html" class="btn btn--primary btn--orange btn--savoir text-uppercase">
						اقرأ المزيد
				</a>
			</div>
		</div>
	</div>
	<div class="home-slider_item" data-dot="عرض شباب نشط">
		<img src="assets/img/home-slider.png" alt="">
		<div class="wrapper">
			<div class="container">
				<h1 class="home-slider_title mb-2">
					عرض شباب نشط
				</h1>

				<p class="home-slider_txt">
					نك الكويت الوطني هو مجموعة من البنوك التي أنشأها البنك المركزي في خدمة المواطنين.
				</p>

				<a href="/gbp-front/news-detail.html" class="btn btn--primary btn--orange btn--savoir text-uppercase">
					اقرأ المزيد

				</a>
			</div>
		</div>
	</div>
	
</div>