<div class="socialsection">
    <h3 class="socialsection_title">Partager sur votre réseau social</h3>
    <ul class="socialsection_icons groupicons">
        <li class="groupicons_item fb">
            <a href="#">
                <span>
                    <svg class="icon icon-facebook-small">
                        <use xlink:href="#icon-facebook-small"></use>
                    </svg>
                </span>
            </a>
        </li>
        <li class="groupicons_item twitter">
            <a href="#">
                <span>
                    <svg class="icon icon-twitter">
                        <use xlink:href="#icon-aide-twitter"></use>
                    </svg>
                </span>
            </a>
        </li>
        <li class="groupicons_item google-plus">
            <a href="#">
                <span>
                    <svg class="icon icon-google-plus">
                        <use xlink:href="#icon-google-plus-small"></use>
                    </svg>
                </span>
            </a>
        </li>
        <li class="groupicons_item instagram">
            <a href="#">
                <span>
                    <svg class="icon icon-instagram">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                </span>
            </a>
        </li>
        <li class="groupicons_item pinterest">
            <a href="#">
                <span>
                    <svg class="icon-pinterest">
                        <use xlink:href="#icon-pinterest"></use>
                    </svg>
                </span>
            </a>
        </li>
        <li class="groupicons_item linkedin">
            <a href="#">
                <span>
                    <svg class="icon icon-linkedin-small">
                        <use xlink:href="#icon-linkedin-small"></use>
                    </svg>
                </span>
            </a>
        </li>
    </ul>
    <div class="socialsection_action">
        <p>
            Ou copier le lien directement
        </p>
        <a href="#">www.goo.gl/hhlz345</a>
    </div>

</div>