<ul class="logo-slider owl-carousel">
    <li class="logo-slider_item">
        <a href="#">
				<img src="assets/img/logo-0.png" alt="">
			</a>
    </li>
    <li class="logo-slider_item">
        <a href="#">
				<img src="assets/img/logo-1.png" alt="">
			</a>
    </li>
    <li class="logo-slider_item">
        <a href="#">
				<img src="assets/img/logo-2.png" alt="">
			</a>
    </li>
    <li class="logo-slider_item">
        <a href="#">
				<img src="assets/img/logo-3.png" alt="">
			</a>
    </li>
    <li class="logo-slider_item">
        <a href="#">
				<img src="assets/img/logo-4.png" alt="">
			</a>
    </li>
    <li class="logo-slider_item">
        <a href="#">
				<img src="assets/img/logo-5.png" alt="">
			</a>
    </li>
</ul>