<a class="news" href="/gbp-front/news-detail.html">
	<div class="news_border">
	</div>
	<div class="news_content">
		<div class="news_date clearfix">
			<p class="publication">
				Date de publication  : 20/03/2018
			</p>
			<p class="limite">
				Date limite de dépot de dossier : 20/04/2018
			</p>
		</div>
		<h2 class="news_title">
			La Banque Centrale Populaire lance un appel d’offres ouvert relatif au « MARCHE 
			CADRE ACQUISITION DE STYLOS PROMOTIONNELS ».
		</h2>
		<p class="news_txt">
			N° : AO 014-18 - Prorogation
		</p>
	</div>
</a>