<div class="page-details my-6">
    <div class="page-details__tags">
        <div class="btn btn--tag active">
            #INSTITUTIONNELLE
        </div>
    </div>
    <h2 class="page-details__title">
        Responsabilité sociétale des entreprises Transformation digitale de la Banque Populaire
        <span class="sub-title">une vision stratégique au service du client</span>
    </h2>
    <div class="page-details__blockquote">
        <blockquote class="blockquote">
            Consciente des enjeux stratégiques que présente le numérique, la Banque Populaire a entamé depuis deux ans, un large chantier
            de transformation digitale pour offrir à sa clientèle le meilleur de la Banque 2.0.
        </blockquote>
    </div>
    <p class="page-details__metadata">
        Publié le 30 février 2018
    </p>
    <img src="assets/img/news-detail.png" alt="" class="page-details__img">
    <div class="page-details__content">
        <h3>Une vision stratégique au service du client</h3>
        <p>Dans ce cadre, l’agence pilote Romandie a accueilli, le lundi 19 juin, un parterre de journalistes et d’influenceurs
            digitaux pour la présentation officielle de la transformation digitale au sein de la Banque, à l’occasion de
            la concrétisation des premiers chantiers de ce plan d’envergure voir l’article. Lors d’une keynote savamment
            orchestrée, M. Laïdi El Wardi, Directeur Général de la Banque de Détail, a présenté la vision de l’innovation
            au sein de la Banque Populaire, ainsi que les grandes lignes du programme de
            <a href="#">transformation digitale</a>.</p>

        <p>Il montre aussi comment le Groupe s’engage pour l’environnement en réduisant sa propre empreinte environnementale
            mais aussi en se positionnant en tant qu’acteur de premier plan en matière de financement de la transition énergétique.
            Conscients que notre réussite n’est possible que grâce aux forces vives que sont nos collaboratrices et collaborateurs,
            notre préoccupation est d’agir en employeur engagé, en leur offrant, au quotidien, un environnement de travail
            qui favorise leur développement et la gestion active de leur parcours.</p>
        <p>
            <strong>
                Nous sommes également convaincus
            </strong> que la responsabilité d’une Banque réside dans son rôle d’intermédiaire et de facilitateur de l’économie
            réelle au profit des entreprises, des professionnels et des particuliers. Avec cet objectif de participer à l’essor
            de la société marocaine, le Groupe s’engage activement dans les programmes de bancarisation et d’accompagnement
            du processus de régionalisation.
        </p>
        <h3>Une vision stratégique au service du client</h3>
        <p>Au-delà des frontières marocaines, le Groupe est présent en Afrique subsaharienne où il participe au financement
            des grands projets de développement, contribuant ainsi à l’intégration économique et financière du continent.
            Enfin, le Groupe s’est investi depuis l’origine auprès de ses communautés, notamment au travers de la Fondation
            Banque Populaire, aujourd’hui reconnue parmi les acteurs majeurs de l’éducation et de la culture au Maroc. Ce
            premier rapport RSE vous permettra de découvrir l’ensemble des initiatives et des programmes déployés par le
            Groupe, pour agir jour après jour, de manière toujours plus responsable.</p>
        <h3>Lorem ipsum dolor sit amet consectetur.</h3>
        <h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </h4>

        <!-- Progress block -->

        <div class="progress-block">
            <p class="progress-block_label">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, nulla?</p>
            <div class="progress-block_body">
                <div class="progress-block_number">
                    15%
                </div>
                <div class="progress-block_bar">
                    <div class="progress-block_bar-status"></div>
                </div>
            </div>
        </div>

        <div class="progress-block">
            <p class="progress-block_label">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, nulla?</p>
            <div class="progress-block_body">
                <div class="progress-block_number">
                    95%
                </div>
                <div class="progress-block_bar">
                    <div style="width: 95%" class="progress-block_bar-status"></div>
                </div>
            </div>
        </div>
        <div class="progress-block">
            <p class="progress-block_label">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, nulla?</p>
            <div class="progress-block_body">
                <div class="progress-block_number">
                    18%
                </div>
                <div class="progress-block_bar">
                    <div style="width: 18%" class="progress-block_bar-status"></div>
                </div>
            </div>
        </div>
        <div class="progress-block">
            <p class="progress-block_label">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, nulla?</p>
            <div class="progress-block_body">
                <div class="progress-block_number">
                    67%
                </div>
                <div class="progress-block_bar">
                    <div style="width: 67%" class="progress-block_bar-status"></div>
                </div>
            </div>
        </div>
        <p>
            Fusce porttitor nisl in tristique scelerisque. Ut hendrerit, diam at elementum aliquam, velit justo consequat mi, at aliquet
            urna lacus at arcu. Maecenas porttitor neque ac nisl auctor molestie. Donec laoreet lobortis nunc, a porttitor
            lectus blandit ut. Duis mi dui, vestibulum at nibh aliquet, interdum congue turpis. Suspendisse urna lorem, vulputate
            eu gravida et, gravida sed nibh. Morbi lorem leo, rhoncus nec dolor scelerisque, varius fringilla est. Etiam
            ultricies, elit id molestie dictum, risus mauris fermentum mauris, sit amet dictum tortor nulla ut ante. Aliquam
            lacus purus, tincidunt quis ligula sodales, tristique porta turpis. Nam lectus sem, congue efficitur egestas
            nec, convallis eget eros. Proin enim nibh, mattis nec tincidunt quis, placerat varius ante. Sed tincidunt cursus
            dui, at scelerisque urna scelerisque vitae. Suspendisse sem erat, tempus in velit quis, gravida semper odio.
            Nunc enim purus, pulvinar eu mollis eget, sollicitudin ac ipsum.

        </p>
        <a class="page-details__video swipebox swipebox--video" href="https://www.youtube.com/watch?v=jNNP7T8T1VQ">
            <img src="assets/img/res-2.png" alt="">
        </a>
        <p>
            Fusce porttitor nisl in tristique scelerisque. Ut hendrerit, diam at elementum aliquam, velit justo consequat mi, at aliquet
            urna lacus at arcu. Maecenas porttitor neque ac nisl auctor molestie. Donec laoreet lobortis nunc, a porttitor
            lectus blandit ut. Duis mi dui, vestibulum at nibh aliquet, interdum congue turpis. Suspendisse urna lorem, vulputate
            eu gravida et, gravida sed nibh. Morbi lorem leo, rhoncus nec dolor scelerisque, varius fringilla est. Etiam
            ultricies, elit id molestie dictum, risus mauris fermentum mauris, sit amet dictum tortor nulla ut ante. Aliquam
            lacus purus, tincidunt quis ligula sodales, tristique porta turpis. Nam lectus sem, congue efficitur egestas
            nec, convallis eget eros. Proin enim nibh, mattis nec tincidunt quis, placerat varius ante. Sed tincidunt cursus
            dui, at scelerisque urna scelerisque vitae. Suspendisse sem erat, tempus in velit quis, gravida semper odio.
            Nunc enim purus, pulvinar eu mollis eget, sollicitudin ac ipsum.

        </p>
    </div>

    <div class="pad-container">
        <!-- Social section -->
        <div class="socialsection">
            <h3 class="socialsection_title">Partager sur votre réseau social</h3>
            <ul class="socialsection_icons groupicons">
                <li class="groupicons_item fb">
                    <a href="#">
                        <span>
                            <svg class="icon icon-facebook-small">
                                <use xlink:href="#icon-facebook-small"></use>
                            </svg>
                        </span>
                    </a>
                </li>
                <li class="groupicons_item twitter">
                    <a href="#">
                        <span>
                            <svg class="icon icon-twitter">
                                <use xlink:href="#icon-aide-twitter"></use>
                            </svg>
                        </span>
                    </a>
                </li>
                <li class="groupicons_item google-plus">
                    <a href="#">
                        <span>
                            <svg class="icon icon-google-plus">
                                <use xlink:href="#icon-google-plus-small"></use>
                            </svg>
                        </span>
                    </a>
                </li>
                <li class="groupicons_item instagram">
                    <a href="#">
                        <span>
                            <svg class="icon icon-instagram">
                                <use xlink:href="#icon-instagram"></use>
                            </svg>
                        </span>
                    </a>
                </li>
                <li class="groupicons_item pinterest">
                    <a href="#">
                        <span>
                            <svg class="icon-pinterest">
                                <use xlink:href="#icon-pinterest"></use>
                            </svg>
                        </span>
                    </a>
                </li>
                <li class="groupicons_item linkedin">
                    <a href="#">
                        <span>
                            <svg class="icon icon-linkedin-small">
                                <use xlink:href="#icon-linkedin-small"></use>
                            </svg>
                        </span>
                    </a>
                </li>
            </ul>
            <div class="socialsection_action">
                <p>
                    Ou copier le lien directement
                </p>
                <a href="#">www.goo.gl/hhlz345</a>
            </div>

        </div>

        <!-- Same Category -->

        <div class="same-category">
            <h3 class="same-category_title">Dans la même catégorie</h3>
            <div class="same-category_item row-article active">
                <div class="row-article_metadata">
                    <div class="row-article_tags">
                        <div class="btn btn--tag active">
                            #INSTITUTIONNELLE
                        </div>
                    </div>
                    <div class="row-article_date">
                        20/07/2017
                    </div>
                </div>
                <p class="row-article_body">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum assumenda magni esse facilis
                    quibusdam.
                </p>
            </div>
            <div class="same-category_item row-article ">
                <div class="row-article_metadata">
                    <div class="row-article_tags">
                        <div class="btn btn--tag active">
                            #INSTITUTIONNELLE
                        </div>
                    </div>
                    <div class="row-article_date">
                        20/07/2017
                    </div>
                </div>
                <p class="row-article_body">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum assumenda magni esse facilis
                    quibusdam.
                </p>
            </div>
            <div class="same-category_item row-article">
                <div class="row-article_metadata">
                    <div class="row-article_tags">
                        <div class="btn btn--tag active">
                            #INSTITUTIONNELLE
                        </div>
                        <div class="btn btn--tag active">
                            #RS
                        </div>
                    </div>
                    <div class="row-article_date">
                        20/07/2017
                    </div>
                </div>
                <p class="row-article_body">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum assumenda magni esse facilis
                    quibusdam.
                </p>
            </div>
            <div class="same-category_item row-article">
                <div class="row-article_metadata">
                    <div class="row-article_tags">
                        <div class="btn btn--tag active">
                            #INSTITUTIONNELLE
                        </div>
                    </div>
                    <div class="row-article_date">
                        20/07/2017
                    </div>
                </div>
                <p class="row-article_body">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum assumenda magni esse facilis
                    quibusdam.
                </p>
            </div>
        </div>

        <!-- Popular Article -->

        <div class="popular-articles">
            <h3 class="popular-articles_title">L'article
                <img src="assets/img/populaire.png" alt="populaire">
            </h3>
            <div class="popular-article">
                <div class="row">
                    <div class="col-sm-8 p-3">
                        <div class="popular-article_tags">
                            <div class="btn btn--tag active">
                                #INSTITUTIONNELLE
                            </div>
                        </div>
                        <div class="popular-article_date">
                            20/07/2017
                        </div>
                        <div class="popular-article_content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                            Ut enim ad minim veniam.
                        </div>
                        <div class="popular-article_action">
                            EN SAVOIR PLUS
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <img class="popular-article_img" src="assets/img/popular-article.png" alt="popular article">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>