<a class="news" href="/gbp-front/news-detail.html">
	<div class="news_border">
	</div>
	<div class="news_content">
		<div class="news_date clearfix">
			<p class="publication">
				تاريخ النشر: 20/03/2018
			</p>
			<p class="limite">
				الموعد النهائي لتقديم الملف: 20/04/2018
			</p>
		</div>
		<h2 class="news_title">
			يعلن البنك المركزي الشعبي عن إطلاق دعوة مفتوحة للمناقصات الخاصة بـ "الحصول على هيكل  من العروض الترويجية".
		</h2>
		<p class="news_txt">
			رقم: AO 014-18 - ملحق
		</p>
	</div>
</a>