<div class="nos-banques pt-3 pb-5">
    <h6 class="title title--white title--small text-center mb-1">
		NOS BANQUES
	</h6>
    <h3 class="title title--white title--bloc text-center mb-5">
		UN LARGE DE CHOIX DE BANQUE 
		ADAPTE AU BESOIN
	</h3>
	<div class="nos-banques_links text-center">
		<a class="item" href="#particuliers">
			BANQUE DES PARTICULIERS
		</a>
		<a class="item" href="#marocains">
			BANQUE DES MAROCAINS DU MONDE
		</a>
		<a class="item" href="#professionnels">
			BANQUE DES PROFESSIONNELS
		</a>
		<a class="item" href="#entreprises">
			BANQUE DES ENTREPRISES
		</a>
	</div>
    <div class="owl-carousel mt-md-6 mt-2">
        <div class="nos-banques_el" data-hash="particuliers">
            <h3 class="nos-banques_title text-uppercase text-center mb-3">
				BANQUE DES PARTICULIERS
			</h3>
            <p class="nos-banques_desc text-center mb-4">
                Quelque soient vos projets actuels ou d’avenir, la Banque Populaire vous accompagne tout au long de vos moments de la vie, Découvrez nos offres destinées à nos clients particuliers.
            </p>
            <div class="text-center">
            	<a class="btn btn--primary btn--orange btn--banner text-uppercase" href="#">
					Découvrir
				</a>
            </div>
        </div>
        <div class="nos-banques_el" data-hash="marocains">
            <h3 class="nos-banques_title text-uppercase text-center mb-3">
				BANQUE DES MAROCAINS DU MONDE
			</h3>
            <p class="nos-banques_desc text-center mb-4">
                Quelque soient vos projets actuels ou d’avenir, la Banque Populaire vous accompagne tout au long de vos moments de la vie, Découvrez nos offres destinées à nos clients particuliers.
            </p>
            <div class="text-center">
            	<a class="btn btn--primary btn--orange btn--banner text-uppercase" href="#">
					Découvrir
				</a>
            </div>
        </div>
        <div class="nos-banques_el" data-hash="professionnels">
            <h3 class="nos-banques_title text-uppercase text-center mb-3">
				BANQUE DES PROFESSIONNELS
			</h3>
            <p class="nos-banques_desc text-center mb-4">
                Quelque soient vos projets actuels ou d’avenir, la Banque Populaire vous accompagne tout au long de vos moments de la vie, Découvrez nos offres destinées à nos clients particuliers.
            </p>
            <div class="text-center">
            	<a class="btn btn--primary btn--orange btn--banner text-uppercase" href="#">
					Découvrir
				</a>
            </div>
        </div>
        <div class="nos-banques_el" data-hash="entreprises">
            <h3 class="nos-banques_title text-uppercase text-center mb-3">
				BANQUE DES ENTREPRISES
			</h3>
            <p class="nos-banques_desc text-center mb-4">
                Quelque soient vos projets actuels ou d’avenir, la Banque Populaire vous accompagne tout au long de vos moments de la vie, Découvrez nos offres destinées à nos clients particuliers.
            </p>
            <div class="text-center">
            	<a class="btn btn--primary btn--orange btn--banner text-uppercase" href="#">
					Découvrir
				</a>
            </div>
        </div>
    </div>
</div>