<div class="popup-video d-none">
	<div class="close-wrapper">
        <span>
			<svg>
				<use xlink:href="#icon-cross"></use>
			</svg>
		</span>
    </div>

    <div class="container pt-md-3 pt-8">

    	<div class="popup-video_section mb-5">

            <iframe  width="100%" height="400" src="https://www.youtube.com/embed/ACRSneze3-0?autoplay=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>

    		<div class="wrapper clearfix">
    			<div>
    				<span class="popup-video_categorie">
    					قصص شعبية
    				</span>
    				<span class="popup-video_categorie">
    					14 يناير 2016
    				</span>
    			</div>
    			<div class="icon-share">
    				<svg>
                        <use xlink:href="#icon-share-symbol"></use>                   
                    </svg>
    			</div>
    		</div>
    		<h4 class="popup-video_title">
    			مصطفى يسافر حول العالم ..
    		</h4>
    		<p class="popup-video_txt">
    			لدينا قصة نخبرك بها ، قصة تجعلك مواطنين في أحد البنوك يقومون بمرافقتك في جميع مراحل حياتك. ارجع إلى التاريخ وقم بتجربة تجاربك مع البنك الشعبي.
    		</p>
    	</div>

    	<div class="popup-video_title popup-video_title-categorie">
    		في نفس الفئة
    	</div>

        <div class="popup-video_slider owl-carousel pb-3">
            <a href="ACRSneze3-0" class="swipebox swipebox--video">
                <img src="https://img.youtube.com/vi/ACRSneze3-0/0.jpg" alt="">
            </a>
            <a href="ACRSneze3-0" class="swipebox swipebox--video">
                <img src="https://img.youtube.com/vi/ACRSneze3-0/0.jpg" alt="">
            </a>
            <a href="ACRSneze3-0" class="swipebox swipebox--video">
                <img src="https://img.youtube.com/vi/ACRSneze3-0/0.jpg" alt="">
            </a>
            <a href="ACRSneze3-0" class="swipebox swipebox--video">
                <img src="https://img.youtube.com/vi/ACRSneze3-0/0.jpg" alt="">
            </a>
            <a href="ACRSneze3-0" class="swipebox swipebox--video">
                <img src="https://img.youtube.com/vi/ACRSneze3-0/0.jpg" alt="">
            </a>
        </div>

    </div>
</div>