<div class="popup-search d-none">
    <div class="close-wrapper">
        <span>
			<svg>
				<use xlink:href="#icon-cross"></use>
			</svg>
		</span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mt-7">

            	<form action="" class="popup-search_form">
            		<input type="text" class="input input--popup" placeholder="Rechercher">
            		<div class="search-wrapper">
            			<span>
            				<svg>
            					<use xlink:href="#icon-popup-search"></use>
            				</svg>
            			</span>
            		</div>
            	</form>

                <div class="mt-2 text-center">
                    <div class="btn btn--tag active mr-1 mb-1">
                        tous
                    </div>
                    <div class="btn btn--tag mr-1 mb-1">
                        #articles
                    </div>
                    <div class="btn btn--tag mr-1 mb-1">
                        #videos
                    </div>
                    <div class="btn btn--tag mr-1 mb-1">
                        #images
                    </div>
                    <div class="btn btn--tag mr-1 mb-1">
                        #documents
                    </div>
                </div>

                <div class="mt-4">
                    <h2 class="popup-search_title">
                        résultats de la recherche
                    </h2>
                </div>

                <div class="mt-3">
                    <div class="row">

                        <div class="col-12 col-lg-3 col-md-4 mb-4">
                            <div class="popup-menu">
                            	<a class="popup-menu_title" href="/gbp-front/actualites.html">
                            		actualites (<span>6</span>)
                            	</a>
                            	<ul class="popup-menu_list">
                            		<li class="item">
                            			<a href="/gbp-front/news-detail.html">
                            				Lorem ipsum dolor set amet
                            			</a>
                            		</li>
                            		<li class="item">
                            			<a href="/gbp-front/news-detail.html">
                            				Lorem ipsum dolor set amet
                            			</a>
                            		</li>
                            		<li class="item">
                            			<a href="/gbp-front/news-detail.html">
                            				Lorem ipsum dolor set amet
                            			</a>
                            		</li>
                            		<li class="item">
                            			<a href="/gbp-front/news-detail.html">
                            				Lorem ipsum dolor set amet
                            			</a>
                            		</li>
                            		<li class="item">
                            			<a href="#">
                            				> Voir Plus
                            			</a>
                            		</li>
                            	</ul>
                            </div>
                        </div>

                        <div class="col-12 col-lg-3 col-md-4 mb-4">
                            <div class="popup-menu">
                                <a class="popup-menu_title" href="/gbp-front/communiques.html">
                                    communiqués (<span>6</span>)
                                </a>
                                <ul class="popup-menu_list">
                                    <li class="item">
                                        <a href="/gbp-front/news-detail.html">
                                            Lorem ipsum dolor set amet
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/gbp-front/news-detail.html">
                                            Lorem ipsum dolor set amet
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/gbp-front/news-detail.html">
                                            Lorem ipsum dolor set amet
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/gbp-front/news-detail.html">
                                            Lorem ipsum dolor set amet
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/gbp-front/result.html">
                                            > Voir Plus
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12 col-lg-3 col-md-4 mb-4">
                            <div class="popup-menu">
                                <a class="popup-menu_title" href="/gbp-front/presse.html">
                                    presse (<span>6</span>)
                                </a>
                                <ul class="popup-menu_list">
                                    <li class="item">
                                        <a href="/gbp-front/news-detail.html">
                                            Lorem ipsum dolor set amet
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/gbp-front/news-detail.html">
                                            Lorem ipsum dolor set amet
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/gbp-front/news-detail.html">
                                            Lorem ipsum dolor set amet
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/gbp-front/news-detail.html">
                                            Lorem ipsum dolor set amet
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/gbp-front/result.html">
                                            > Voir Plus
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12 col-lg-3 col-md-4 mb-4">
                            <div class="popup-menu">
                                <a class="popup-menu_title" href="/gbp-front/mediacenter.html">
                                    compagnes pub (<span>6</span>)
                                </a>
                                <ul class="popup-menu_list">
                                    <li class="item">
                                        <a href="/gbp-front/news-detail.html">
                                            Lorem ipsum dolor set amet
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/gbp-front/news-detail.html">
                                            Lorem ipsum dolor set amet
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/gbp-front/news-detail.html">
                                            Lorem ipsum dolor set amet
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/gbp-front/news-detail.html">
                                            Lorem ipsum dolor set amet
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/gbp-front/result.html">
                                            > Voir Plus
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12 col-lg-3 col-md-4 mb-4">
                            <div class="popup-menu">
                                <a class="popup-menu_title" href="/gbp-front/finance.html">
                                    rapports financiers (<span>6</span>)
                                </a>
                                <ul class="popup-menu_list">
                                    <li class="item">
                                        <a href="/gbp-front/news-detail.html">
                                            Lorem ipsum dolor set amet
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/gbp-front/news-detail.html">
                                            Lorem ipsum dolor set amet
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/gbp-front/news-detail.html">
                                            Lorem ipsum dolor set amet
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/gbp-front/news-detail.html">
                                            Lorem ipsum dolor set amet
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/gbp-front/result.html">
                                            > Voir Plus
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12 col-lg-3 col-md-4 mb-4">
                            <div class="popup-menu">
                                <a class="popup-menu_title" href="/gbp-front/autres.html">
                                    autres (<span>6</span>)
                                </a>
                                <ul class="popup-menu_list">
                                    <li class="item">
                                        <a href="/gbp-front/news-detail.html">
                                            Lorem ipsum dolor set amet
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/gbp-front/news-detail.html">
                                            Lorem ipsum dolor set amet
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/gbp-front/news-detail.html">
                                            Lorem ipsum dolor set amet
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/gbp-front/news-detail.html">
                                            Lorem ipsum dolor set amet
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="/gbp-front/result.html">
                                            > Voir Plus
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            	
            </div>
        </div>
    </div>

</div>