<div class="popup-video d-none">
	<div class="close-wrapper">
        <span>
			<svg>
				<use xlink:href="#icon-cross"></use>
			</svg>
		</span>
    </div>

    <div class="container mt-3">
    	<div class="popup-video_section mb-5">
    		<div class="wrapper clearfix">
    			<div class="float-left">
    				<span class="popup-video_categorie">
    					HISTOIRES POPULAIRES
    				</span>
    				<span class="popup-video_categorie">
    					14 JANVIER 2016
    				</span>
    			</div>
    			<div class="float-right">
    					
    			</div>
    		</div>
    		<h4 class="popup-video_title">
    			Mustapha voyage autour du monde ..
    		</h4>
    		<p class="popup-video_txt">
    			Nous avons une histoire à vous raconter, celle qui fait de vous les citoyens d’une banque faire pour vous  accompagner dans toutes les étapes de votre vie. Rentrez dans l’histoire, mettez en scène vos expériences vécues avec la Banque Populaire.
    		</p>
    	</div>

    	<div class="popup-video_title popup-video_title-categorie">
    		Dans la même catégorie
    	</div>

    </div>
</div>