<div class="popup-menu">
	<a class="popup-menu_title" href="/gbp-front/actualites.html">
		أخبار (<span>6</span>)
	</a>
	<ul class="popup-menu_list">
		<li class="item">
			<a href="/gbp-front/news-detail.html">
				أبجد هوز
			</a>
		</li>
		<li class="item">
			<a href="/gbp-front/news-detail.html">
				أبجد هوز
			</a>
		</li>
		<li class="item">
			<a href="/gbp-front/news-detail.html">
				أبجد هوز
			</a>
		</li>
		<li class="item">
			<a href="/gbp-front/news-detail.html">
				أبجد هوز
			</a>
		</li>
		<li class="item">
			<a href="#">
				اهد المزيد
			</a>
		</li>
	</ul>
</div>