<div class="popup-search d-none">
    <div class="close-wrapper">
        <span>
			<svg>
				<use xlink:href="#icon-cross"></use>
			</svg>
		</span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mt-7">

            	<form action="" class="popup-search_form">
            		<input type="text" class="input input--popup" placeholder="Rechercher">
            		<div class="search-wrapper">
            			<span>
            				<svg>
            					<use xlink:href="#icon-popup-search"></use>
            				</svg>
            			</span>
            		</div>
            	</form>
            	
            </div>
        </div>
    </div>

</div>