<div class="questions d-none">
	<p class="questions_top">
		VOUS AVEZ DES QUESTIONS  ?
	</p>
	<div class="questions_body">
		<p>
			Appelez nous sur
		</p>

		<p class="num">
			05 37 77 23 45
		</p>

		<p>
			Prix d’un appel local non surtaxé.
		</p>
		<p>
			Disponible 24h/24 - 7/7
		</p>

		<a class="btn btn--aide mt-1 mb-1" href="#">
			envoyez nous un message
		</a>

		<a class="btn btn--aide mb-1" href="#">
			retrouvez une agence
		</a>

		<p>
			On attend vos questions sur
		</p>

		<p>
			<a href="#">
				<svg><use xlink:href="#icon-messenger"></use></svg>	
			</a>
			
			<a href="#">
				<svg><use xlink:href="#icon-aide-twitter"></use></svg>
			</a>
		</p>
	</div>
</div>