<div class="top-header clearfix">
    <div class="top-header_list">
        <nav>
            <ul class="clearfix">
                <li class="list">
                    <a href="#">
                        <span>
                            قطاعات
                        </span>

                        <svg class="icon icon-arrow-down">
                            <use xlink:href="#icon-arrow-down"></use>
                        </svg>


                    </a>
                    <ul class="dropdown d-none">
                        <li>
                            <a href="#">
                                option1
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                option1
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list--tohide">
                    <a href="/gbp-front/appel-offres.html">
                        طلب عروض
                    </a>
                </li>
                <li class="location">
                    <a href="#">
                        <svg class="icon icon-location">
                            <use xlink:href="#icon-location"></use>
                        </svg>
                    </a>
                </li>
                <li class="lang">
                    <a href="#">
                        <span>
                            عر
                        </span>

                        <svg class="icon icon-arrow-down">
                            <use xlink:href="#icon-arrow-down"></use>
                        </svg>


                    </a>
                    <ul class="dropdown d-none">
                        <li>
                            <a href="#">
                                option1
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                option1
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="top-header_buttons">
        <nav>
            <ul class="clearfix">
                <li>
                    <a href="#">
                        <span>
                            <svg class="icon icon-user">
                                <use xlink:href="#icon-user"></use>
                            </svg>
                        </span>

                        <span>
                            اصبح عميل
                        </span>

                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>
                            <svg class="icon icon-account">
                                <use xlink:href="#icon-account"></use>
                            </svg>
                        </span>

                        <span>
                            حسابي
                        </span>

                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>