<div class="trouver-agence">
	<img src="assets/img/map.png" alt="">
	<div class="wrapper-absolute">
		<div class="container">
			<div class="title title--small text-center">
				LOCALISEZ UNE AGENCE
			</div>
			<div class="title title--bloc text-center">
				TROUVEZ UNE AGENCE DANS LE PLUS GRAND RÉSEAU D’AGENCES AU MAROC
			</div>

			<div class="text-center">
				<a href="gbp-front/map.html" class="btn btn--primary btn--orange btn--agence text-uppercase">
					Trouver une agence a l'étranger
				</a>
				<a href="gbp-front/map.html" class="btn btn--primary btn--orange btn--agence text-uppercase">
					Trouver un centre d'affaire
				</a>
				<a href="gbp-front/map.html" class="btn btn--primary btn--orange btn--agence text-uppercase">
					Trouver une agence au maroc
				</a>
			</div>
		</div>
	</div>
</div>